

body {
    background-color: #0a3d62;
}

.game-space {
    height: 400px;
    width: 900px;
    position: fixed;
    overflow: hidden;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-score {
    position: fixed;
    top: 0;
    height: 100px;
    width: 900px;
}

.score-text {
    font-size: 40px;
    font-family: Roboto;
    color: #38ada9;
    text-align: center;
}

.game-play {
    position: relative;
    top: 100px;
    height: 300px;
    width: 930px;
    background-color: #079992;
    display: grid;
    grid-template-columns: repeat(31, 30px);
    grid-template-rows: repeat(10, 30px);
}

.block {
    margin: 1px;
}

.green {
    background-color: #78e08f;
}

.player {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 60px;
    left: 90px;
    z-index: 10;
    background-color: #e67e22;
    border-radius: 50%;
}